/* header {
     color: rgb(231, 148, 23);
     background-color: rgb(78, 80, 80);
} */
/* main {
     background-color: aquamarine;
} */
/* .ul{
     background-color: blue;
     color: rgb(182, 152, 152);
} */